<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://127.0.0.1:3306/portaria</property>
		<property name="connection.username">root</property>
		<property name="connection.password">cepedadmin</property>

		<!-- JDBC Pool de conexões -->
		<property name="connection.pool_size">1</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

		<!-- Gerenciamento do contexto de conexões -->
		<property name="current_session_context_class">thread</property>

		<!-- Cache de Segundo Nível -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Mostra as SQLs Geradas -->
		<property name="show_sql">true</property>

		<!-- Criar as Tabelas do Banco -->
		<property name="hbm2ddl.auto">create</property>

		<!-- Mapeamento das entidades -->
		<mapping class="br.gov.ba.ceped.portaria.domain.Empresa" />
		<mapping class="br.gov.ba.ceped.portaria.domain.Funcionario" />
		<mapping class="br.gov.ba.ceped.portaria.domain.Visitante" /> 
		<mapping class="br.gov.ba.ceped.portaria.domain.Veiculo" /> 
		
	</session-factory>

</hibernate-configuration>